# ============================
# Sistema Operacional
# ============================

# Windows
Thumbs.db
Desktop.ini

# macOS
.DS_Store

# Linux
*~

# ============================
# IDEs
# ============================

.vscode/
.idea/

# ============================
# Build
# ============================

bin/
obj/

# ============================
# Logs
# ============================

*.log

# ============================
# Temporários
# ============================

tmp/
temp/

# ============================
# Node
# ============================

node_modules/

# ============================
# Python
# ============================

__pycache__/
*.pyc

# ============================
# Flutter
# ============================

.dart_tool/
build/

# ============================
# Arquivos locais
# ============================

.env
.env.local